
  
.navbar{
    height: 70px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: 2px solid #FFF;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    background-color: #003580;

  }

  .navButton:hover{
      color:#003580;
      background-color: #FFF;
      font-weight: 600;
  }